@keyframes moving-title {
    0% { transform: translateX(100%); }
    100% { transform: translateX(-100%); }
}

.moving-title {
    font-size: 3em;
    font-weight: bold;
    position: relative;
    white-space: nowrap;
    overflow: hidden;
    animation: moving-title 4s linear infinite;
}